#nav-drawer {
    padding: 5px;
    background-color: $navbar-bg;
    top: 70px;
    height: calc(100% - #{$navbar-height} - 50px);
    padding-bottom: 20px;
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 7px;
    }

    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.3);
    }

    &::-webkit-scrollbar-thumb {
        background-color: lighten($brand-primary, 20);
        outline: 1px solid lighten($brand-primary, 20);
    }

    ul {
        list-style: none;
    }

    .list-group {
        .list-group-item {
            min-height: 50px;
            padding: 0 0 0 .5rem;
            background-color: inherit;
            border-radius: $card-border-radius;
            border: 0;

            &:hover {
                background-color: $navbar-bg-hover;
            }

            a {
                color: #fff;
                padding: .75rem 0.75rem;
                border: none;
                text-decoration: none;
                width: 100%;
                display: inherit;
                border-radius: $card-border-radius;

                &:hover {
                    color: #fff;
                }

                &:focus {
                    background-color: initial;
                    -webkit-box-shadow: none;
                    box-shadow: none;
                }

                &:before {
                    font-family: 'simple-line-icons';
                    speak: none;
                    font-style: normal;
                    font-weight: normal;
                    font-variant: normal;
                    text-transform: none;
                    line-height: 1;
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                    content: "\e089";
                    font-size: 19px;
                }

                .m-l-0::before {
                    font-size: 19px;
                }
            }

            &[data-key="coursehome"] a:before {
                content: "\e06a";
            }

            &[data-key="mycourses"] a:before {
                content: "\e019";
            }

            &[data-key="course-sections"] {
                a {
                    &:before {
                        content: "\e067";
                    }
                }

                .list-group-item a:before {
                    content: "\e606";
                    font-size: 11px;
                }
            }

            &[data-key="participants"] a:before,
            &[data-key="studentreport"] a:before {
                content: "\e001";
            }

            &[data-key="badgesview"] a:before {
                content: "\e028";
            }

            &[data-key="competencies"] a:before {
                content: "\e09b";
            }

            &[data-key="grades"] a:before {
                content: "\e04c";
            }

            &[data-key="myhome"] a:before {
                content: "\e007";
            }

            &[data-key="home"] a:before {
                content: "\e069";
            }

            &[data-key="calendar"] a:before {
                content: "\e075";
            }

            &[data-key="privatefiles"] a:before {
                content: "\e040";
            }

            &[data-key="sitesettings"] a:before {
                content: "\e09a";
            }

            &[data-key="certificates"] a:before {
                content: "\e034";
            }

            &[data-key="contentbank"] a:before {
                content: "\e04f";
            }
        }
    }

    .list-group + .list-group {
        border-top: 3px solid $navbar-separator;
    }
}

#nav-drawer span{
    color: white !important;
}

#nav-drawer[aria-hidden=true] .list-group-item {
    display: inherit;
}

#nav-drawer.closed {
    overflow: visible;
    width: 70px;
    left: 0;

    .metismenu .has-arrow::after {
        display: none;
    }

    .list-group {
        .list-group-item {
            text-align: left;
            padding: 0 .5rem;

            > ul {
                display: none;
                padding: 10px;
            }

            .m-l-1 {
                margin-left: 4px !important;
            }

            a .text {
                display: none;
            }

            &:hover {
                width: 270px;
                background-color: $navbar-bg-hover;

                &[data-key="mycourses"] {
                    border-bottom-right-radius: 0;
                }

                a .text {
                    display: inline-block;
                }

                .text {
                    margin-left: 4px !important;
                }

                > ul {
                    display: block;
                    height: auto !important;
                    overflow: auto;
                    background-color: $navbar-bg;
                    position: absolute;
                    left: 70px;
                    top: 50px;
                    width: 200px;
                    z-index: 1001;
                    padding-top: 10px;
                    border-bottom-left-radius: $card-border-radius;
                    border-bottom-right-radius: $card-border-radius;

                    li {
                        padding: .5rem .2rem;
                        min-height: initial;
                        width: 100%;

                        a {
                            width: 100%;
                            padding: 0;
                            font-size: 12px;
                            min-height: initial;

                            &:before {
                                font-size: 12px;
                                content: "\e606";
                            }

                            .text {
                                display: inline;
                            }
                        }
                    }
                }
            }

            ul li.list-group-item:hover {
                border-bottom-right-radius: $card-border-radius;
            }
        }
    }
}

#nav-drawer-footer {
    text-align: center;
    position: fixed;
    display: block;
    height: 50px;
    left: 5px;
    bottom: 0;
    margin: 0 -5px;
    background-color: $navbar-bg-hover;
    width: 70px;

    #themesettings-control {
        padding: .75rem 0;
        display: block;
        color: #fff;
        cursor: pointer;

        i {
            font-size: 19px;
        }

        .text {
            display: none;
        }
    }
}

body.drawer-open-left #nav-drawer-footer {
    width: 285px;

    #themesettings-control .text {
        display: inline-block;
    }
}

@include media-breakpoint-down(sm) {
    #nav-drawer-footer {
        display: none;
    }

    body.drawer-open-left {
        #nav-drawer-footer {
            width: 70px;
            display: block;

            #themesettings-control {
                .text {
                    display: none;
                }
            }
        }
    }

    .metismenu [data-key="course-sections"],
    .metismenu [data-key="mycourses"] {
        display: none;
    }
}